.snakemake/*
archive
build/*
data/*
vis/*
log/*
scripts/__pycache__/utility.cpython-312.pyc
Archive
linkingtool/__pycache__/*
src
/localhome/mei3/eliasinul/repositories/Bidirectional_Linking_Tool/results/linking/Timeseries_top_sites_solar.html
/localhome/mei3/eliasinul/repositories/Bidirectional_Linking_Tool/results/linking/Timeseries_top_sites_wind.html